<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.in_app.webview">

    <application>
        <!-- 👇 Declare the Payment WebView Activity -->
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="false" />
    </application>

</manifest>
